---
Language:        Cpp
BasedOnStyle:  Google
AccessModifierOffset: -2
AlwaysBreakTemplateDeclarations: Yes
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ColumnLimit:     100
CompactNamespaces: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
DerivePointerAlignment: true
IncludeBlocks: Regroup
IncludeCategories: 
  - Regex:           '^"'
    Priority:        1
  - Regex:           '^<sw/'
    Priority:        2
  - Regex:           '^<.*\.h>'
    Priority:        4
  - Regex:           '^<.*\.hpp>'
    Priority:        4
  - Regex:           '^<[a-zA-Z0-9_/-]*>'
    Priority:        5
  - Regex:           '.*'
    Priority:        3
IndentCaseLabels: false
IndentWrappedFunctionNames: false
IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyReturnTypeOnItsOwnLine: 200
PointerAlignment: Left
Standard:        Cpp11
TabWidth: 8
UseTab: Never

...

